<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <br/>
    <%= f.text_area :content, class: "form-control", rows: "6" %><br/>
      <div class="container" id="share"><%= f.submit "Share your post with us!", class: "btn btn-success btn-lg btn-block" %></div>
  </div>
 
 
<% end %>
