

<% if user_signed_in? %>
<div class="nav" id='mph'><h3>Welcome <%= current_user.name %></h3>  
  
<%= image_tag(current_user.normalimage) %>
    
    <br/>
    <%= link_to "Sign out", signout_path, class: "btn btn-danger", id: 'ttt' %>
    <br/>
    <br/>
</div>
<br/>
<%= render 'form' %>

<br/>

 
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header" id="pst">Latest posts ...</h2>
        <% @posts.each do |post| %>
        <section class="comment-list">
          <!-- First Comment -->
           
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail" id="asd">
               
                   <%= image_tag(post.user.normalimage) %>

                <figcaption class="text-center"><%= post.user.name %></figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" id="postback">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i>  <%= post.user.name %> wrote:</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>  <%= time_ago_in_words(post.created_at) %> ago</time>
                  </header>
                  <div class="comment-post">
                    <p>
                   <%= post.content %>
                    </p>
                  </div>
                  
                    <% if current_user.name == post.user.name %>
                 <%= link_to 'Edit', edit_post_path(post) %>
     
     
               <%= link_to 'Destroy', post, method: :delete %>
                   <% end %>
                </div>
              </div>
                <%= form_for [post, Comment.new] do |f| %>
                <%= f.text_area :body, placeholder: "Comment that post", class: "form-control" %><br/>
                <%= f.submit "Comment this!", class: "btn-success" %>
                <% end %>
                <br/>
            </div>
               
          </article>
            
            <ul>
                <%= render(partial: 'comments/comment', collection: post.comments) %>
            </ul>
            
        </section>
        
        
         <% end %>
        
      </div>
       
    </div>
   
    </div>
<% else %>

<h1>Please Signup before posting content!</h1>

<%= link_to "Proceed with signin in", home_index_path %>

<% end %>  

<!-- test there -->

